* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: rgb(255, 234, 217);
}


/* ///// HEADER //// */

header {
    position: relative;
}

header a {
    text-decoration: none;
    color: inherit;
    color: #ffffff;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

nav {
    width: 100%;
    position: absolute;
}

header div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 20px;
    height: 80px;
    width: 100%;
}


/* ///// NAVIGATION //// */

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

header ul li {
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

header ul li a {
    display: block;
    margin: 0;
}

header ul li a:hover {
    background-color: #bd894591;
    box-shadow: 0 0 5px 5px #bd8945b4;
}

header ul li ul li {
    display: none;
}

header ul li ul {
    display: flex;
    flex-direction: column;
}

header ul li:hover ul li {
    display: block;
}

header ul li:hover a {
    background-color: #bd8945b4;
}

header ul li i {
    margin-left: 15px;
}

header .subnav ul {
    display: none;
}

header .subnav ul li {
    width: 140px;
}

header .subnav:hover ul {
    display: block;
    position: relative;
    left: 200px;
    bottom: 40px;
}

@media screen and (max-width: 900px) {
    header .subnav:hover ul {
        display: block;
        position: relative;
        left: -140px;
        bottom: 40px;
    }
}


/* ///// FIN NAVIGATION //// */


/* ///// FIN HEADER //// */

.background-home {
    background: url("/images/maroc/agadir/agadir1.jpg");
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.sobre {
    background-color: rgba(0, 0, 0, 0.1);
    height: 500px;
    display: flex;
    align-items: center
}

.sobre div {
    padding: 0 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre div p:first-child {
    background-color: rgba(0, 0, 0, 0.205);
    padding: 20px;
}

#voir-plus {
    margin-top: 20px;
    background-color: #bd894591;
    width: 100px;
    padding: 10px;
    color: #ffffff;
    transition: 0.8s;
}

#voir-plus:hover {
    box-shadow: 0 0 5px 5px #bd8945b4;
}

.plage-agadir {
    background: url("/images/maroc/agadir/agadir-beach.jpg");
    width: 200px;
    height: 200px;
    background-size: cover;
    transition: 0.8s;
    border-radius: 50%;
}

.valle-des-oiseaux {
    background: url("/images/maroc/agadir/valle-des-oiseaux.jpg");
    width: 200px;
    height: 200px;
    background-size: cover;
    transition: 0.8s;
    border-radius: 50%;
}

.plage-agadir:hover,
.valle-des-oiseaux:hover {
    border-radius: 0%;
}

.visite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

.visite p {
    letter-spacing: 1.5px;
    width: 40%;
    margin-left: 5%;
    transition: 0.8s;
}

.visite p:hover {
    margin-left: 8%;
    margin-bottom: 3%;
}

.image1 {
    background: url("/images/maroc/agadir/image1.jpg");
    width: 250px;
    height: 450px;
    background-size: cover;
}

.image2 {
    background: url("/images/maroc/agadir/image2.jpg");
    width: 250px;
    height: 450px;
    background-size: cover;
    background-position: center;
}

.image3 {
    background: url("/images/maroc/agadir/image3.jpg");
    width: 250px;
    height: 450px;
    background-size: cover;
}

.image4 {
    background: url("/images/maroc/agadir/image4.jpg");
    width: 250px;
    height: 450px;
    background-size: cover;
}

.image5 {
    background: url("/images/maroc/agadir/image5.jpg");
    width: 250px;
    height: 450px;
    background-size: cover;
    background-position: right;
}

.ville {
    margin: 10% 0;
}

#gallery {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

#gallery div {
    transition: 0.8s;
}

#gallery div:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px black;
}

.text {
    margin: 50px 0;
    text-align: center;
    padding: 0 30%;
}


/* ///// FOOTER /////*/

footer div div {
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style: none;
}