<<<<<<< HEAD
/* ///// NAVIGATION //// */

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

header ul li {
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

header ul li a {
    display: block;
    margin: 0;
}

header ul li a:hover {
    background-color: #bd894591;
    box-shadow: 0 0 5px 5px #bd8945b4;
}

header ul li ul li {
    display: none;
}

header ul li ul {
    display: flex;
    flex-direction: column;
}

header ul li:hover ul li {
    display: block;
}

header ul li:hover a {
    background-color: #bd8945b4;
}

header ul li i {
    margin-left: 15px;
}

header .subnav ul {
    display: none;
}

header .subnav ul li {
    width: 140px;
}

header .subnav:hover ul {
    display: block;
    position: relative;
    left: 200px;
    bottom: 40px;
}

@media screen and (max-width: 900px) {
    header .subnav:hover ul {
        display: block;
        position: relative;
        left: -140px;
        bottom: 40px;
    }
}


/* ///// FIN NAVIGATION //// */


/* ///// FOOTER /////*/

footer {
    color: #8d6530;
    background-color: #bd8945b4;
    padding: 20px;
}

footer div div {
    display: flex;
    justify-content: space-around;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 15px;
}

footer img {
    width: 100px;
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    footer div div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


/* ///// FIN FOOTER ///// */
=======
html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Questrial", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

@font-face {
    font-family: "oriental";
    src: url(../ArabDances.ttf);
    background-size: cover;
}

h1 {
    font-family: "oriental";
    font-size: 100px;
}

nav {
    top: 0;
}

#titre {
    margin-top: 5%;
}

header {
    height: 750px;
    background-image: url(../img/backgroundheader.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
}

h2 {
    margin-left: 8%;
    margin-right: 8%;
    text-align: justify;
    margin-top: 8%;
    font-size: 30px;
}

#vignettes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8%;
    margin-bottom: 8%;
}

#vignettes_ind {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    width: 500px;
    height: 310px;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}

.img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

p {
    font-size: 30px;
    text-align: center;
}

footer div div {
    height: 180px;
}
>>>>>>> master
