 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 .section {
     text-align: justify;
 }
 
 video {
     position: absolute;
     height: 100vh;
 }
 
 .chefchaouen {
     width: 250px;
     height: 250px;
     background-image: url("../images/maroc/chaouen/chefchaouen.jpg");
     background-repeat: no-repeat;
     box-shadow: 0 0 0 2px #8fc0e7;
     border-radius: 25px;
     margin-right: 6%;
     background-size: 100% 100%;
     transition: 0.8s;
 }
 
 .chefchaouen:hover {
     transform: scale(1.1);
     box-shadow: 0 0 5px 5px #8fc0e7;
 }
 
 .chefcontainer {
     background-color: #afdbffce;
     padding: 50px;
     margin: 0 50px 50px 50px;
     border-radius: 25px;
     display: flex;
     align-items: center;
     letter-spacing: 1.5px;
 }
 
 .chefcontainer div:nth-child(2) {
     width: 60%;
 }
 
 .chefcontainer div:nth-child(2) h2 {
     margin-bottom: 6%;
 }
 
 .agadir {
     width: 250px;
     height: 250px;
     background-image: url("../images/maroc/agadir/agadir.jpg");
     background-repeat: no-repeat;
     box-shadow: 0 0 0 2px #f3b4ff;
     border-radius: 25px;
     margin-left: 6%;
     background-position: center;
     background-size: 100% 100%;
     transition: 0.8s;
 }
 
 .agadir:hover {
     transform: scale(1.1);
     box-shadow: 0 0 5px 5px #af6abd;
 }
 
 .agacontainer {
     background-color: #f2b4ffd5;
     padding: 50px;
     margin: 50px 50px 0 50px;
     border-radius: 25px;
     display: flex;
     align-items: center;
     flex-direction: row-reverse;
     letter-spacing: 1.5px;
 }
 
 .agacontainer div:nth-child(2) {
     width: 60%;
 }
 
 .agacontainer div:nth-child(2) h2 {
     margin-bottom: 6%;
     text-align: right;
 }
 
 main {
     background: url("../images/maroc/background.jpg") fixed;
 }
 /* Carroussel */
 
 .scene {
     width: 210px;
     height: 140px;
     position: relative;
     perspective: 1000px;
 }
 
 .carousel {
     width: 100%;
     height: 100%;
     position: absolute;
     transform-style: preserve-3d;
 }
 
 .img {
     position: absolute;
     width: 190px;
     height: 120px;
     left: 10px;
     top: 10px;
 }
 
 .carousel__cell:nth-child(1) {
     transform: rotateY( 0deg);
 }
 
 .carousel__cell:nth-child(2) {
     transform: rotateY( 40deg);
 }
 
 .carousel__cell:nth-child(3) {
     transform: rotateY( 80deg);
 }
 
 .carousel__cell:nth-child(4) {
     transform: rotateY(120deg);
 }
 
 .carousel__cell:nth-child(1) {
     transform: rotateY( 0deg) translateZ(288px);
 }
 
 .carousel__cell:nth-child(2) {
     transform: rotateY( 40deg) translateZ(288px);
 }
 
 .carousel__cell:nth-child(3) {
     transform: rotateY( 80deg) translateZ(288px);
 }
 
 .carousel__cell:nth-child(4) {
     transform: rotateY(120deg) translateZ(288px);
 }
 
 .carousel {
     transform: translateZ(-288px) rotateY(-160deg);
 }
 
 * {
     box-sizing: border-box
 }
 
 img {
     width: 70vh;
     height: 50vh;
 }
 
 .caroussel_diapo input {
     position: absolute;
     left: -9999px
 }
 
 .caroussel_diapo {
     position: relative;
     text-align: center;
     margin: 0 auto
 }
 
 .contenu_carou {
     width: 500px;
     height: 332px;
     margin: 2rem auto;
     perspective: 1000px
 }
 
 .caroussel {
     position: relative;
     transform-style: preserve-3d;
     width: 500px;
     height: 332px;
     transition: 1s transform
 }
 
 .caroussel img {
     position: absolute;
     top: 0;
     left: 0;
     outline: 1px solid transparent;
     backface-visibility: hidden;
     will-change: transform;
     transition: 1s transform
 }
 
 .caroussel img:nth-child(1) {
     transform: translate3d(0, 0, 540px) scale(.8)
 }
 
 .caroussel img:nth-child(2) {
     transform: rotateY(45deg) translateZ(540px) scale(.8)
 }
 
 .caroussel img:nth-child(3) {
     transform: rotateY(90deg) translateZ(540px) scale(.8)
 }
 
 .caroussel img:nth-child(4) {
     transform: rotateY(135deg) translateZ(540px) scale(.8)
 }
 
 .caroussel img:nth-child(5) {
     transform: rotateY(180deg) translateZ(540px) scale(.8)
 }
 
 .caroussel img:nth-child(6) {
     transform: rotateY(225deg) translateZ(540px) scale(.8)
 }
 
 .caroussel img:nth-child(7) {
     transform: rotateY(270deg) translateZ(540px) scale(.8)
 }
 
 .caroussel img:nth-child(8) {
     transform: rotateY(315deg) translateZ(540px) scale(.8)
 }
 
 .caroussel_diapo input[type=radio]+label {
     cursor: pointer;
     background-color: hsl(203, 77%, 81%);
     display: inline-block;
     width: 20px;
     border-radius: 50%;
     height: 20px
 }
 
 .caroussel_diapo input[type=radio]:checked+label {
     background-color: hsl(203, 77%, 61%)
 }
 /*gauche*/
 
 .caroussel_diapo #carou_un:checked~.contenu_carou .caroussel {
     transform: translateZ(-540px)
 }
 
 .caroussel_diapo #carou_deux:checked~.contenu_carou .caroussel {
     transform: translateZ(-540px) rotateY(-45deg)
 }
 
 .caroussel_diapo #carou_trois:checked~.contenu_carou .caroussel {
     transform: translateZ(-540px) rotateY(-90deg)
 }
 
 .caroussel_diapo #carou_quatre:checked~.contenu_carou .caroussel {
     transform: translateZ(-540px) rotateY(-135deg)
 }
 
 .caroussel_diapo #carou_cinq:checked~.contenu_carou .caroussel {
     transform: translateZ(-540px) rotateY(-180deg)
 }
 
 .caroussel_diapo #carou_six:checked~.contenu_carou .caroussel {
     transform: translateZ(-540px) rotateY(-225deg)
 }
 
 .caroussel_diapo #carou_sept:checked~.contenu_carou .caroussel {
     transform: translateZ(-540px) rotateY(-270deg)
 }
 
 .caroussel_diapo #carou_huit:checked~.contenu_carou .caroussel {
     transform: translateZ(-540px) rotateY(-315deg)
 }
 /*droite*/
 
 .caroussel_diapo #carou_un:checked~.contenu_carou .caroussel img:nth-child(1) {
     transform: translateZ(540px) scale(1)
 }
 
 .caroussel_diapo #carou_deux:checked~.contenu_carou .caroussel img:nth-child(2) {
     transform: rotateY(45deg) translateZ(540px) scale(1)
 }
 
 .caroussel_diapo #carou_trois:checked~.contenu_carou .caroussel img:nth-child(3) {
     transform: rotateY(90deg) translateZ(540px) scale(1)
 }
 
 .caroussel_diapo #carou_quatre:checked~.contenu_carou .caroussel img:nth-child(4) {
     transform: rotateY(135deg) translateZ(540px) scale(1)
 }
 
 .caroussel_diapo #carou_cinq:checked~.contenu_carou .caroussel img:nth-child(5) {
     transform: rotateY(180deg) translateZ(540px) scale(1)
 }
 
 .caroussel_diapo #carou_six:checked~.contenu_carou .caroussel img:nth-child(6) {
     transform: rotateY(225deg) translateZ(540px) scale(1)
 }
 
 .caroussel_diapo #carou_sept:checked~.contenu_carou .caroussel img:nth-child(7) {
     transform: rotateY(270deg) translateZ(540px) scale(1)
 }
 
 .caroussel_diapo #carou_huit:checked~.contenu_carou .caroussel img:nth-child(8) {
     transform: rotateY(315deg) translateZ(540px) scale(1)
 }
 /* Fin de Carroussel */